{{ 'sunrise-multicolumn.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .sunrise-multicolumn {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .sunrise-multicolumn {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="sunrise-multicolumn color-{{ section.settings.color_scheme }} sunrise-gradient">
  <div class="page-width sunrise-multicolumn__container">
    {%- if section.settings.title != blank -%}
      <div class="sunrise-multicolumn__header sunrise-text-center{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        <h2 class="sunrise-multicolumn__title sunrise-multicolumn__title--{{ section.settings.heading_size }}">
          {{ section.settings.title | escape }}
        </h2>
        {%- if section.settings.description != blank -%}
          <div class="sunrise-multicolumn__description sunrise-rte">
            {{ section.settings.description }}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}

    <div class="sunrise-multicolumn__grid sunrise-grid sunrise-grid--{{ section.settings.columns_desktop }}-col-desktop sunrise-grid--{{ section.settings.columns_mobile }}-col-mobile">
      {%- for block in section.blocks -%}
        <div class="sunrise-multicolumn__item sunrise-grid__item sunrise-card{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" {{ block.shopify_attributes }}>
          {%- case block.type -%}
            {%- when 'column' -%}
              <div class="sunrise-multicolumn__column">
                {%- if block.settings.image != blank -%}
                  <div class="sunrise-multicolumn__image">
                    {%- assign image_height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio -%}
                    {{
                      block.settings.image
                      | image_url: width: 600
                      | image_tag:
                        class: 'sunrise-multicolumn__image-element',
                        loading: 'lazy',
                        widths: '165, 360, 533, 720, 940, 1066, 1280',
                        height: image_height,
                        width: block.settings.image.width,
                        alt: block.settings.image.alt | escape
                    }}
                  </div>
                {%- endif -%}

                <div class="sunrise-multicolumn__content">
                  {%- if block.settings.heading != blank -%}
                    <h3 class="sunrise-multicolumn__heading">
                      {{ block.settings.heading | escape }}
                    </h3>
                  {%- endif -%}

                  {%- if block.settings.text != blank -%}
                    <div class="sunrise-multicolumn__text sunrise-rte">
                      {{ block.settings.text }}
                    </div>
                  {%- endif -%}

                  {%- if block.settings.button_label != blank -%}
                    <div class="sunrise-multicolumn__button">
                      <a href="{{ block.settings.button_link }}" class="sunrise-button{% if block.settings.button_style_secondary %} sunrise-button--secondary{% endif %}">
                        {{ block.settings.button_label | escape }}
                      </a>
                    </div>
                  {%- endif -%}
                </div>
              </div>
          {%- endcase -%}
        </div>
      {%- endfor -%}
    </div>

    {%- if section.settings.button_label != blank -%}
      <div class="sunrise-multicolumn__footer sunrise-text-center{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <a href="{{ section.settings.button_link }}" class="sunrise-button{% if section.settings.button_style_secondary %} sunrise-button--secondary{% endif %}">
          {{ section.settings.button_label | escape }}
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Multicolumn",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Column heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "Use secondary button style"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Multicolumn",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        }
      ],
      "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "Number of columns on desktop"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        }
      ],
      "default": "1",
      "label": "Number of columns on mobile"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "checkbox",
      "id": "button_style_secondary",
      "default": false,
      "label": "Use secondary button style"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Multicolumn",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
